extends /config/template
append config
  -pageTitle = 'Nosotros'
  -pageDescription = 'Página sobre nuestra historia'
  -pageImage = ''

block main
  include /includes/main-menu
  h1 Quienes somos?
  p Esta es una nueva página creada con Pug